@page
@model App.Client.WebUI.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Add Book";
}

<h4>Add Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateBookCommand.Title" class="control-label"></label><span class="required">*</span>
                <input asp-for="CreateBookCommand.Title" class="form-control" />
                <span asp-validation-for="CreateBookCommand.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateBookCommand.Author" class="control-label"></label><span class="required">*</span>
                <input asp-for="CreateBookCommand.Author" class="form-control" />
                <span asp-validation-for="CreateBookCommand.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateBookCommand.BookFormat" class="control-label"></label>
                <select asp-for="CreateBookCommand.BookFormat" class="form-control">
                    <option value="">-- Select --</option>
                    @foreach (var item in Model.BookFormatOptions)
                    {
                        <option value="@item.Value">@item.DisplayName</option>
                    }
                </select>
                <span asp-validation-for="CreateBookCommand.BookFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateBookCommand.PublishedDate" class="control-label"></label>
                <input asp-for="CreateBookCommand.PublishedDate" class="form-control" type="date" />
                <span asp-validation-for="CreateBookCommand.PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
