@page
@model App.Client.WebUI.Pages.Books.IndexModel

<div class="text-center">
    <h4>List of Books</h4>
</div>

@foreach (var book in Model.BookViewModelList)
{
    <div class="row">
        <div class="col">
            <h4><a asp-page="/Books/Details" asp-route-bookId="@book.BookId">@book.Title</a></h4>
        </div>
        <div class="col">
            @book.BookFormat?.DisplayName
        </div>
    </div>
}

<div class="row mt-3">
    <div class="col">
        <a asp-page="Create" class="btn btn-success">Add Book</a>
    </div>
</div>